body {
    font-family: Arial;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caixa central */
.container {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Título */
h1 {
    color: #333;
}

/* Inputs */
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* Resultado */
#resultado {
    margin-top: 15px;
    font-weight: bold;
}